@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap");

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #3a1f42;
}

.navbar {
  font-family: "Lato", sans-serif;
  background-color: #3a1f42 !important;
}

.bg-body-tertiary {
  background-color: #3a1f42 !important;
}

.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.85) !important;
}

.navbar-nav .nav-link.active {
  color: white !important;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 8px;
}

#main-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.08rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin: 2rem 0;
  color: #3a1f42;
}

#side-heading {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #3a1f42;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  margin: 2rem 0;
}

.table-container table {
  width: 100%;
}

.card {
  border-color: #3a1f42;
}

.card-header {
  font-size: 1.3rem;
  background-color: #3a1f42;
  color: white;
}

.row {
  margin-left: -1.5rem;
}

.footer__title {
  padding: 1rem;
  background-color: #3a1f42;
  color: #ffffff;
  margin-bottom: -1rem;
}

/* Style for the table */
.table {
  border-color: #3a1f42;
}

.table thead th {
  background-color: #3a1f42;
  color: white;
}
